.popup__create {
	width: 100%;
	height: 50px;
	background: url(../../../images/popup/create_btn.svg) center no-repeat;
	border: none;
	padding: 0;
	cursor: pointer;
	margin-top: 47px;
	transition: 0.3s ease-in;
	}
	
.popup__create:hover {
	opacity: 0.8;
}
	
@media screen and (max-width: 482px) {
.popup__create {
	background: url(../../../images/popup/create_btn_mini.svg) center no-repeat;
	margin: 43px 0 10px;
}
}
