.popup__send {
  width: 100%;
  height: 50px;
  background: url(../../../images/popup/Submit\ Button.svg) center no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 48px;
  transition: 0.3s ease-in;
}

.popup__send:hover {
  opacity: 0.8;
}
