.popup__container {
  max-width: 430px;
  padding: 34px 36px 33px;
  margin: 195px auto;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (max-width: 482px) {
  .popup__container {
    padding: 26px 22px 13px;
    margin: 123px 19px;
  }
}
